/* Additional styles */

#header, #header * { background: #eee !important; font-family: helvetica, verdana, 'bitstream vera sans', sans-serif;}
#post-body, #post-footer, #comments-form, #invite_reviews { border-bottom: 1px solid #ccc; }
.login { display: inline; float: right;}
